L -100 0 -50 0 -1 0
L 100 0 50 0 -1 0
L 40 -25 50 0 -1 0
L 20 25 40 -25 -1 0
L 0 -25 20 25 -1 0
L -20 25 0 -25 -1 0
L -40 -25 -20 25 -1 0
L -40 -25 -50 0 -1 0
C -100 0 "1" -125 0 0 1 32 0 R
X "PIN_TEXT" "1" -40 -4 0.00 0.00 24 0 0 0 0 0 1 0 0
C 100 0 "2" 125 0 0 1 32 0 L
X "PIN_TEXT" "2" 40 -4 0.00 0.00 24 0 0 2 0 0 1 0 0
P "CDS_LMAN_SYM_OUTLINE" "-50,25,50,-25" 0 -4 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" -87 -4 0.00 0.00 48 0 0 0 0 0 1 0 0
P "FOOTPRINT" "r0402" 0 -4 0.00 0.00 48 0 0 0 0 0 0 0 32
P "VALUE" "?" 75 -4 0.00 0.00 48 0 0 0 0 0 1 0 32
P "PATH" "?" 0 -4 0.00 0.00 48 0 0 0 0 0 0 0 32
