L -75 0 -25 0 -1 0
L 75 0 25 0 -1 0
M 12 25 25 25 -1 75
M 25 -25 25 25 -1 75
M 12 -25 25 -25 -1 75
M 12 25 12 -25 -1 75
M -12 25 -12 -25 -1 75
M -25 25 -12 25 -1 75
M -25 -25 -12 -25 -1 75
M -25 25 -25 -25 -1 75
C -75 0 "1" -100 0 0 1 32 0 R
X "PIN_TEXT" "1" -52 -42 0.00 0.00 24 0 0 0 0 0 1 0 0
C 75 0 "2" 100 0 0 1 32 0 L
X "PIN_TEXT" "2" 52 -42 0.00 0.00 24 0 0 2 0 0 1 0 0
P "CDS_LMAN_SYM_OUTLINE" "-25,25,25,-25" 0 -4 0.00 0.00 22 0 0 0 0 0 0 0 0
P "$LOCATION" "?" -125 -4 0.00 0.00 48 0 0 0 0 0 1 0 0
P "FOOTPRINT" "C3216" 0 -4 0.00 0.00 48 0 0 0 0 0 0 0 32
P "VALUE" "?" 62 7 0.00 0.00 48 0 0 0 0 0 1 0 32
P "PATH" "?" 0 -4 0.00 0.00 48 0 0 0 0 0 0 0 32
