P "CDS_LMAN_SYM_OUTLINE" "-75,75,75,-75" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -75 25 75 25 -1 0
L -75 -25 75 -25 -1 0
A -50 75 25 180 360 0
A 0 75 25 180 360 0
A 50 75 25 180 360 0
A 50 -75 25 0 180 0
A 0 -75 25 0 180 0
A -50 -75 25 0 180 0
P "Symbol" "ACM2012-900-2P-T002" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "CurrentTime" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "CurrentDate" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Time" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Date" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "DocumentFullPathAndName" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "DocumentName" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "ModifiedDate" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "ApprovedBy" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "CheckedBy" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Author" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "CompanyName" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "DrawnBy" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Engineer" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Organization" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Address1" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Address2" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Address3" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Address4" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Title" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "DocumentNumber" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Revision" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "SheetNumber" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "SheetTotal" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Rule" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "ImagePath" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "ProjectName" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Application_BuildNumber" "*" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Origin" "Altium" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "PATH" "?" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "$LOCATION" "?" -75 75 0 0 23 0 0 0 0 0 1 0 0
P "Pin_Numbers_Visible" "True" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "PIN_TEXT_VISIBLE" "True" -75 75 0 0 23 0 0 0 0 0 0 0 32
P "Pin_Names_Rotate" "True" -75 75 0 0 23 0 0 0 0 0 0 0 32
L -175 75 -75 75 -1 0
C -175 75 "1" -200 75 0 1 23 0 R
X "PIN_TEXT" "1" -74 75 0 0 23 0 0 0 0 0 1 0 0
L -175 -75 -75 -75 -1 0
C -175 -75 "2" -200 -75 0 1 23 0 R
X "PIN_TEXT" "2" -74 -75 0 0 23 0 0 0 0 0 1 0 0
L 175 -75 75 -75 -1 0
C 175 -75 "3" 200 -75 0 1 23 0 L
X "PIN_TEXT" "3" 74 -75 0 0 23 0 0 2 0 0 1 0 0
L 175 75 75 75 -1 0
C 175 75 "4" 200 75 0 1 23 0 L
X "PIN_TEXT" "4" 74 75 0 0 23 0 0 2 0 0 1 0 0


