P "CDS_LMAN_SYM_OUTLINE" "-125,125,125,-125" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -100 100 -100 -100 -1 0
L -75 100 25 100 -1 0
L 25 100 25 -100 -1 0
L -75 -100 25 -100 -1 0
T -21 -3 90 0 29 0 0 1 0 5 0
12MHz
L -125 50 -125 -50 -1 0
L 50 50 50 -50 -1 0
L -75 100 -100 100 -1 0
L -75 -100 -100 -100 -1 0
L -150 0 -125 0 -1 0
L 75 0 50 0 -1 0
L -200 0 -150 0 -1 0
C -200 0 "1" -229 4 0 1 29 0 R
L -75 150 -75 100 -1 0
C -75 150 "2" -75 175 0 1 29 1 L
L 125 0 75 0 -1 0
C 125 0 "3" 154 4 0 1 29 0 L
L 0 150 0 100 -1 0
C 0 150 "4" 0 175 0 1 29 1 L


