P "CDS_LMAN_SYM_OUTLINE" "-175,100,175,-100" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -175 100 175 100 -1 0
L 175 100 175 -100 -1 0
L 175 -100 -175 -100 -1 0
L -175 100 -175 -100 -1 0
A -150 75 10 0 360 0
P "Symbol" "AMS1117-3.3" -175 100 0 0 23 0 0 0 0 0 0 0 32
P "Origin" "Altium" -175 100 0 0 23 0 0 0 0 0 0 0 32
P "path" "?" -175 100 0 0 23 0 0 0 0 0 0 0 32
P "$LOCATION" "?" -175 100 0 0 23 0 0 0 0 0 1 0 32
P "Pin_Numbers_Visible" "True" -175 100 0 0 23 0 0 0 0 0 0 0 32
P "PIN_TEXT_VISIBLE" "True" -175 100 0 0 23 0 0 0 0 0 0 0 32
P "Pin_Names_Rotate" "True" -175 100 0 0 23 0 0 0 0 0 0 0 32
L -225 50 -175 50 -1 0
C -225 50 "GND" -250 50 0 1 23 0 R
X "PIN_TEXT" "GND" -174 50 0 0 23 0 0 0 0 0 1 0 0
L -225 0 -175 0 -1 0
C -225 0 "VOUT" -250 0 0 1 23 0 R
X "PIN_TEXT" "VOUT" -174 0 0 0 23 0 0 0 0 0 1 0 0
L -225 -50 -175 -50 -1 0
C -225 -50 "VIN" -250 -50 0 1 23 0 R
X "PIN_TEXT" "VIN" -174 -50 0 0 23 0 0 0 0 0 1 0 0
L 225 0 175 0 -1 0
C 225 0 "VOUT1" 250 0 0 1 23 0 L
X "PIN_TEXT" "VOUT1" 174 0 0 0 23 0 0 2 0 0 1 0 0


