P "CDS_LMAN_SYM_OUTLINE" "-425,850,425,-825" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -425 850 -425 -825 -1 0
L -425 850 425 850 -1 0
L 425 850 425 -825 -1 0
L -425 -825 425 -825 -1 0
P "$LOCATION" "?" 0 -8 0 0 48 0 0 0 0 0 0 0 0
P "FOOTPRINT" "SA9227" 0 -8 0 0 48 0 0 0 0 0 1 0 32
P "VALUE" "?" 0 -8 0 0 48 0 0 0 0 0 1 0 32
P "PATH" "?" 0 -8 0 0 48 0 0 0 0 0 0 0 32
L -475 800 -425 800 -1 0
C -475 800 "VDD33_LDO" -500 800 0 1 32 0 R
X "PIN_TEXT" "VDD33_LDO" -424 785 0 0 24 0 0 0 0 0 1 0 0
L -475 750 -425 750 -1 0
C -475 750 "GND_LDO" -500 750 0 1 32 0 R
X "PIN_TEXT" "GND_LDO" -424 735 0 0 24 0 0 0 0 0 1 0 0
L -475 700 -425 700 -1 0
C -475 700 "VDD18_LDO" -500 700 0 1 32 0 R
X "PIN_TEXT" "VDD18_LDO" -424 685 0 0 24 0 0 0 0 0 1 0 0
L -475 650 -425 650 -1 0
C -475 650 "VDD33" -500 650 0 1 32 0 R
X "PIN_TEXT" "VDD33" -424 635 0 0 24 0 0 0 0 0 1 0 0
L -475 600 -425 600 -1 0
C -475 600 "GND" -500 600 0 1 32 0 R
X "PIN_TEXT" "GND" -424 585 0 0 24 0 0 0 0 0 1 0 0
L -475 550 -425 550 -1 0
C -475 550 "SPDIF_RX" -500 550 0 1 32 0 R
X "PIN_TEXT" "SPDIF_RX" -424 535 0 0 24 0 0 0 0 0 1 0 0
L -475 500 -425 500 -1 0
C -475 500 "VDD33_2" -500 500 0 1 32 0 R
X "PIN_TEXT" "VDD33_2" -424 485 0 0 24 0 0 0 0 0 1 0 0
L -475 450 -425 450 -1 0
C -475 450 "VDD18" -500 450 0 1 32 0 R
X "PIN_TEXT" "VDD18" -424 435 0 0 24 0 0 0 0 0 1 0 0
X "$PN" "?" -450 437 0 0 18 0 0 2 0 0 1 0 0
L -475 400 -425 400 -1 0
C -475 400 "SOF_FLAG" -500 400 0 1 32 0 R
X "PIN_TEXT" "SOF_FLAG" -424 385 0 0 24 0 0 0 0 0 1 0 0
L -475 350 -425 350 -1 0
C -475 350 "DSD_FLAG" -500 350 0 1 32 0 R
X "PIN_TEXT" "DSD_FLAG" -424 335 0 0 24 0 0 0 0 0 1 0 0
L -475 300 -425 300 -1 0
C -475 300 "DSD_128_FLAG" -500 300 0 1 32 0 R
X "PIN_TEXT" "DSD_128_FLAG" -424 285 0 0 24 0 0 0 0 0 1 0 0
L -475 250 -425 250 -1 0
C -475 250 "REXT" -500 250 0 1 32 0 R
X "PIN_TEXT" "REXT" -424 235 0 0 24 0 0 0 0 0 1 0 0
L -475 200 -425 200 -1 0
C -475 200 "VDD33_3" -500 200 0 1 32 0 R
X "PIN_TEXT" "VDD33_3" -424 185 0 0 24 0 0 0 0 0 1 0 0
L -475 150 -425 150 -1 0
C -475 150 "VDD33_4" -500 150 0 1 32 0 R
X "PIN_TEXT" "VDD33_4" -424 135 0 0 24 0 0 0 0 0 1 0 0
L -475 100 -425 100 -1 0
C -475 100 "DP" -500 100 0 1 32 0 R
X "PIN_TEXT" "DP" -424 85 0 0 24 0 0 0 0 0 1 0 0
L -475 50 -425 50 -1 0
C -475 50 "DM" -500 50 0 1 32 0 R
X "PIN_TEXT" "DM" -424 35 0 0 24 0 0 0 0 0 1 0 0
L -475 0 -425 0 -1 0
C -475 0 "GND_2" -500 0 0 1 32 0 R
X "PIN_TEXT" "GND_2" -424 -12 0 0 24 0 0 0 0 0 1 0 0
L -475 -50 -425 -50 -1 0
C -475 -50 "XI" -500 -50 0 1 32 0 R
X "PIN_TEXT" "XI" -424 -62 0 0 24 0 0 0 0 0 1 0 0
L -475 -100 -425 -100 -1 0
C -475 -100 "XO" -500 -100 0 1 32 0 R
X "PIN_TEXT" "XO" -424 -112 0 0 24 0 0 0 0 0 1 0 0
L -475 -150 -425 -150 -1 0
C -475 -150 "VDD18_2" -500 -150 0 1 32 0 R
X "PIN_TEXT" "VDD18_2" -424 -162 0 0 24 0 0 0 0 0 1 0 0
L -475 -200 -425 -200 -1 0
C -475 -200 "VDD33_5" -500 -200 0 1 32 0 R
X "PIN_TEXT" "VDD33_5" -424 -212 0 0 24 0 0 0 0 0 1 0 0
L -475 -250 -425 -250 -1 0
C -475 -250 "GND_3" -500 -250 0 1 32 0 R
X "PIN_TEXT" "GND_3" -424 -262 0 0 24 0 0 0 0 0 1 0 0
L -475 -300 -425 -300 -1 0
C -475 -300 "GND_4" -500 -300 0 1 32 0 R
X "PIN_TEXT" "GND_4" -424 -312 0 0 24 0 0 0 0 0 1 0 0
L -475 -350 -425 -350 -1 0
C -475 -350 "VDD33_6" -500 -350 0 1 32 0 R
X "PIN_TEXT" "VDD33_6" -424 -362 0 0 24 0 0 0 0 0 1 0 0
L -475 -400 -425 -400 -1 0
C -475 -400 "GND_5" -500 -400 0 1 32 0 R
X "PIN_TEXT" "GND_5" -424 -412 0 0 24 0 0 0 0 0 1 0 0
L -475 -450 -425 -450 -1 0
C -475 -450 "VDD33_7" -500 -450 0 1 32 0 R
X "PIN_TEXT" "VDD33_7" -424 -462 0 0 24 0 0 0 0 0 1 0 0
L -475 -500 -425 -500 -1 0
C -475 -500 "GPIO0" -500 -500 0 1 32 0 R
X "PIN_TEXT" "GPIO0" -424 -512 0 0 24 0 0 0 0 0 1 0 0
L -475 -550 -425 -550 -1 0
C -475 -550 "VDD18_3" -500 -550 0 1 32 0 R
X "PIN_TEXT" "VDD18_3" -424 -562 0 0 24 0 0 0 0 0 1 0 0
L -475 -600 -425 -600 -1 0
C -475 -600 "VDD33_8" -500 -600 0 1 32 0 R
X "PIN_TEXT" "VDD33_8" -424 -612 0 0 24 0 0 0 0 0 1 0 0
L -475 -650 -425 -650 -1 0
C -475 -650 "GPIO1" -500 -650 0 1 32 0 R
X "PIN_TEXT" "GPIO1" -424 -662 0 0 24 0 0 0 0 0 1 0 0
L -475 -750 -425 -750 -1 0
C -475 -750 "GPIO3" -500 -750 0 1 32 0 R
X "PIN_TEXT" "GPIO3" -424 -762 0 0 24 0 0 0 0 0 1 0 0
L 475 -750 425 -750 -1 0
C 475 -750 "GPIO4" 500 -750 0 1 32 0 L
X "PIN_TEXT" "GPIO4" 424 -762 0 0 24 0 0 2 0 0 1 0 0
L 475 -700 425 -700 -1 0
C 475 -700 "GPIO5" 500 -700 0 1 32 0 L
X "PIN_TEXT" "GPIO5" 424 -712 0 0 24 0 0 2 0 0 1 0 0
L 475 -650 425 -650 -1 0
C 475 -650 "GPIO6" 500 -650 0 1 32 0 L
X "PIN_TEXT" "GPIO6" 424 -662 0 0 24 0 0 2 0 0 1 0 0
L 475 -600 425 -600 -1 0
C 475 -600 "GPIO7" 500 -600 0 1 32 0 L
X "PIN_TEXT" "GPIO7" 424 -612 0 0 24 0 0 2 0 0 1 0 0
L 475 -550 425 -550 -1 0
C 475 -550 "GPIO8" 500 -550 0 1 32 0 L
X "PIN_TEXT" "GPIO8" 424 -562 0 0 24 0 0 2 0 0 1 0 0
L 475 -500 425 -500 -1 0
C 475 -500 "RESETN" 500 -500 0 1 32 0 L
X "PIN_TEXT" "RESETN" 424 -512 0 0 24 0 0 2 0 0 1 0 0
L 475 -450 425 -450 -1 0
C 475 -450 "VDD33_9" 500 -450 0 1 32 0 L
X "PIN_TEXT" "VDD33_9" 424 -462 0 0 24 0 0 2 0 0 1 0 0
L 475 -400 425 -400 -1 0
C 475 -400 "SCL_M" 500 -400 0 1 32 0 L
X "PIN_TEXT" "SCL_M" 424 -412 0 0 24 0 0 2 0 0 1 0 0
L 475 -350 425 -350 -1 0
C 475 -350 "SDA_M" 500 -350 0 1 32 0 L
X "PIN_TEXT" "SDA_M" 424 -362 0 0 24 0 0 2 0 0 1 0 0
L 475 -250 425 -250 -1 0
C 475 -250 "VDD18_4" 500 -250 0 1 32 0 L
X "PIN_TEXT" "VDD18_4" 424 -262 0 0 24 0 0 2 0 0 1 0 0
L 475 -200 425 -200 -1 0
C 475 -200 "VDD33_10" 500 -200 0 1 32 0 L
X "PIN_TEXT" "VDD33_10" 424 -212 0 0 24 0 0 2 0 0 1 0 0
L 475 -100 425 -100 -1 0
C 475 -100 "DMCLK" 500 -100 0 1 32 0 L
X "PIN_TEXT" "DMCLK" 424 -112 0 0 24 0 0 2 0 0 1 0 0
L 475 0 425 0 -1 0
C 475 0 "SPDIF_TX" 500 0 0 1 32 0 L
X "PIN_TEXT" "SPDIF_TX" 424 -12 0 0 24 0 0 2 0 0 1 0 0
L 475 50 425 50 -1 0
C 475 50 "ABCLK" 500 50 0 1 32 0 L
X "PIN_TEXT" "ABCLK" 424 35 0 0 24 0 0 2 0 0 1 0 0
L 475 100 425 100 -1 0
C 475 100 "ADATA" 500 100 0 1 32 0 L
X "PIN_TEXT" "ADATA" 424 85 0 0 24 0 0 2 0 0 1 0 0
L 475 150 425 150 -1 0
C 475 150 "AMCLK" 500 150 0 1 32 0 L
X "PIN_TEXT" "AMCLK" 424 135 0 0 24 0 0 2 0 0 1 0 0
L 475 200 425 200 -1 0
C 475 200 "VDD33_11" 500 200 0 1 32 0 L
X "PIN_TEXT" "VDD33_11" 424 186 0 0 24 0 0 2 0 0 1 0 0
L 475 250 425 250 -1 0
C 475 250 "ALRCK" 500 250 0 1 32 0 L
X "PIN_TEXT" "ALRCK" 424 235 0 0 24 0 0 2 0 0 1 0 0
L 475 300 425 300 -1 0
C 475 300 "SCL_S" 500 300 0 1 32 0 L
X "PIN_TEXT" "SCL_S" 424 285 0 0 24 0 0 2 0 0 1 0 0
L 475 350 425 350 -1 0
C 475 350 "SDA_S" 500 350 0 1 32 0 L
X "PIN_TEXT" "SDA_S" 424 335 0 0 24 0 0 2 0 0 1 0 0
L 475 400 425 400 -1 0
C 475 400 "VDD33_12" 500 400 0 1 32 0 L
X "PIN_TEXT" "VDD33_12" 424 385 0 0 24 0 0 2 0 0 1 0 0
L 475 450 425 450 -1 0
C 475 450 "REFCLKIN" 500 450 0 1 32 0 L
X "PIN_TEXT" "REFCLKIN" 424 435 0 0 24 0 0 2 0 0 1 0 0
L 475 500 425 500 -1 0
C 475 500 "VDD18_5" 500 500 0 1 32 0 L
X "PIN_TEXT" "VDD18_5" 424 485 0 0 24 0 0 2 0 0 1 0 0
L 475 550 425 550 -1 0
C 475 550 "TEST1" 500 550 0 1 32 0 L
X "PIN_TEXT" "TEST1" 424 535 0 0 24 0 0 2 0 0 1 0 0
L 475 600 425 600 -1 0
C 475 600 "TEST2" 500 600 0 1 32 0 L
X "PIN_TEXT" "TEST2" 424 585 0 0 24 0 0 2 0 0 1 0 0
L 475 650 425 650 -1 0
C 475 650 "TEST3" 500 650 0 1 32 0 L
X "PIN_TEXT" "TEST3" 424 635 0 0 24 0 0 2 0 0 1 0 0
L 475 700 425 700 -1 0
C 475 700 "TEST4" 500 700 0 1 32 0 L
X "PIN_TEXT" "TEST4" 424 685 0 0 24 0 0 2 0 0 1 0 0
L 475 750 425 750 -1 0
C 475 750 "TEST5" 500 750 0 1 32 0 L
X "PIN_TEXT" "TEST5" 424 735 0 0 24 0 0 2 0 0 1 0 0
L 475 800 425 800 -1 0
C 475 800 "TEST6" 500 800 0 1 32 0 L
X "PIN_TEXT" "TEST6" 424 785 0 0 24 0 0 2 0 0 1 0 0
L 475 -50 425 -50 -1 0
C 475 -50 "GPIO2/USB(HS/FS)SEL" 500 -50 0 1 32 0 L
X "PIN_TEXT" "GPIO2/USB(HS/FS)SEL" 424 -50 0 0 24 0 0 2 0 0 1 0 0
L 475 -150 425 -150 -1 0
C 475 -150 "DLRCK/DSD_LEFT" 500 -150 0 1 32 0 L
X "PIN_TEXT" "DLRCK/DSD_LEFT" 424 -150 0 0 24 0 0 2 0 0 1 0 0
L 475 -300 425 -300 -1 0
C 475 -300 "DDATA/DSD_RIGHT" 500 -300 0 1 32 0 L
X "PIN_TEXT" "DDATA/DSD_RIGHT" 424 -300 0 0 24 0 0 2 0 0 1 0 0
L 475 -800 425 -800 -1 0
C 475 -800 "DBCLK/DSD_CLK" 500 -800 0 1 32 0 L
X "PIN_TEXT" "DBCLK/DSD_CLK" 424 -800 0 0 24 0 0 2 0 0 1 0 0


