C 0 -200 "SHIELD" 0 -225 0 1 23 1 R
X "PIN_TEXT" "SHIELD" 0 -149 90.00 0.00 23 0 0 0 0 0 1 0 0
C -100 100 "VBUS" -125 100 0 1 23 0 R
X "PIN_TEXT" "VBUS" -49 100 0.00 0.00 23 0 0 0 0 0 1 0 0
C -100 50 "D-" -125 50 0 1 23 0 R
X "PIN_TEXT" "D-" -49 50 0.00 0.00 23 0 0 0 0 0 1 0 0
C -100 -50 "GND" -125 -50 0 1 23 0 R
X "PIN_TEXT" "GND" -49 -50 0.00 0.00 23 0 0 0 0 0 1 0 0
C -100 0 "D+" -125 0 0 1 23 0 R
X "PIN_TEXT" "D+" -49 0 0.00 0.00 23 0 0 0 0 0 1 0 0
L 50 150 50 -150 -1 0
L -50 150 50 150 -1 0
L -50 -150 50 -150 -1 0
L -50 150 -50 -150 -1 0
L -100 -50 -50 -50 -1 0
L -100 0 -50 0 -1 0
L 0 -200 0 -150 -1 0
L -100 50 -50 50 -1 0
L -100 100 -50 100 -1 0
A -25 125 10 0.00 359.91 0
P "PIN_NAMES_ROTATE" "True" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PIN_TEXT_VISIBLE" "True" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PIN_NUMBERS_VISIBLE" "True" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "$LOCATION" "?" -50 175 0.00 0.00 23 0 0 0 0 0 1 0 32
P "PATH" "?" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ORIGIN" "Altium" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "APPLICATION_BUILDNUMBER" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "PROJECTNAME" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "IMAGEPATH" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "RULE" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "SHEETTOTAL" "1" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "SHEETNUMBER" "1" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "REVISION" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "DOCUMENTNUMBER" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "TITLE" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ADDRESS4" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ADDRESS3" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ADDRESS2" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ADDRESS1" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ORGANIZATION" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "ENGINEER" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "DRAWNBY" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "COMPANYNAME" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "AUTHOR" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "CHECKEDBY" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "APPROVEDBY" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "MODIFIEDDATE" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "DOCUMENTNAME" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "DOCUMENTFULLPATHANDNAME" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "DATE" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "TIME" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "CURRENTDATE" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "CURRENTTIME" "*" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "SYMBOL" "HC-USB2.0-L195-J" -50 175 0.00 0.00 23 0 0 0 0 0 0 0 32
P "CDS_LMAN_SYM_OUTLINE" "-50,175,50,-150" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
