P "CDS_LMAN_SYM_OUTLINE" "-50,175,50,-150" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -50 150 50 150 -1 0
L 50 150 50 -150 -1 0
L 50 -150 -50 -150 -1 0
L -50 150 -50 -150 -1 0
A -25 125 10 0 360 0
P "Symbol" "HC-USB2.0-L195-J" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "CurrentTime" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "CurrentDate" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Time" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Date" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "DocumentFullPathAndName" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "DocumentName" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "ModifiedDate" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "ApprovedBy" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "CheckedBy" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Author" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "CompanyName" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "DrawnBy" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Engineer" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Organization" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Address1" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Address2" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Address3" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Address4" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Title" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "DocumentNumber" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Revision" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "SheetNumber" "1" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "SheetTotal" "1" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Rule" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "ImagePath" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "ProjectName" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Application_BuildNumber" "*" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Origin" "Altium" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "PATH" "?" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "$LOCATION" "?" -50 175 0 0 23 0 0 0 0 0 1 0 32
P "Pin_Numbers_Visible" "True" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "PIN_TEXT_VISIBLE" "True" -50 175 0 0 23 0 0 0 0 0 0 0 32
P "Pin_Names_Rotate" "True" -50 175 0 0 23 0 0 0 0 0 0 0 32
L -100 75 -50 75 -1 0
C -100 75 "VBUS" -125 75 0 1 23 0 R
X "PIN_TEXT" "VBUS" -49 75 0 0 23 0 0 0 0 0 1 0 0
L -100 25 -50 25 -1 0
C -100 25 "D-" -125 25 0 1 23 0 R
X "PIN_TEXT" "D-" -49 25 0 0 23 0 0 0 0 0 1 0 0
L -100 -25 -50 -25 -1 0
C -100 -25 "D+" -125 -25 0 1 23 0 R
X "PIN_TEXT" "D+" -49 -25 0 0 23 0 0 0 0 0 1 0 0
L -100 -75 -50 -75 -1 0
C -100 -75 "GND" -125 -75 0 1 23 0 R
X "PIN_TEXT" "GND" -49 -75 0 0 23 0 0 0 0 0 1 0 0
L 0 -200 0 -150 -1 0
C 0 -200 "SHIELD" 0 -225 0 1 23 1 R
X "PIN_TEXT" "SHIELD" 0 -149 90 0 23 0 0 0 0 0 1 0 0


