P "CDS_LMAN_SYM_OUTLINE" "-100,100,100,-100" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
L -100 100 100 100 -1 0
L 100 100 100 -100 -1 0
L 100 -100 -100 -100 -1 0
L -100 100 -100 -100 -1 0
L 15 35 15 -35 -1 0
L 15 -35 -15 -35 -1 0
L -15 -35 -15 35 -1 0
L -15 35 15 35 -1 0
L -25 -35 -25 35 -1 0
L 25 -35 25 35 -1 0
L -100 -50 -50 -50 -1 0
L -50 -50 -50 0 -1 0
L -50 0 -30 0 -1 0
L 100 50 50 50 -1 0
L 50 50 50 0 -1 0
L 50 0 30 0 -1 0
L -15 -35 -15 35 -1 0
L -15 35 15 35 -1 0
L 15 35 15 -35 -1 0
L 25 -20 25 20 -1 0
L 15 -35 -15 -35 -1 0
L -25 -20 -25 20 -1 0
P "Symbol" "X322512MSB4SI" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "CurrentTime" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "CurrentDate" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Time" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Date" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "DocumentFullPathAndName" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "DocumentName" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "ModifiedDate" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "ApprovedBy" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "CheckedBy" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Author" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "CompanyName" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "DrawnBy" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Engineer" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Organization" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Address1" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Address2" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Address3" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Address4" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Title" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "DocumentNumber" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Revision" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "SheetNumber" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "SheetTotal" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Rule" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "ImagePath" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "ProjectName" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Application_BuildNumber" "*" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Origin" "Altium" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "IMPLEMENTATION_PATH" "?" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "IMPLEMENTATION" "?" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Pin_Numbers_Visible" "True" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "PIN_TEXT_VISIBLE" "False" -100 100 0 0 23 0 0 0 0 0 0 0 32
P "Pin_Names_Rotate" "True" -100 100 0 0 23 0 0 0 0 0 0 0 32
L 150 50 100 50 -1 0
C 150 50 "OSC2" 175 50 0 1 23 0 L
X "PIN_TEXT" "OSC2" 99 50 0 0 23 0 0 2 0 0 1 0 0
L -150 -50 -100 -50 -1 0
C -150 -50 "OSC1" -175 -50 0 1 23 0 R
X "PIN_TEXT" "OSC1" -99 -50 0 0 23 0 0 0 0 0 1 0 0
L 150 -50 100 -50 -1 0
C 150 -50 "GND" 175 -50 0 1 23 0 L
X "PIN_TEXT" "GND" 99 -50 0 0 23 0 0 2 0 0 1 0 0
L -150 50 -100 50 -1 0
C -150 50 "GND1" -175 50 0 1 23 0 R
X "PIN_TEXT" "GND1" -99 50 0 0 23 0 0 0 0 0 1 0 0


