C 100 0 "2" 125 0 0 1 32 0 L
X "PIN_TEXT" "2" 75 -25 0.00 0.00 24 0 0 2 0 0 1 0 0
C -100 0 "1" -125 0 0 1 32 0 R
X "PIN_TEXT" "1" -75 -25 0.00 0.00 24 0 0 0 0 0 1 0 0
L 100 0 50 0 -1 0
L -100 0 -50 0 -1 0
A -37 0 12 0.00 180.00 74
A -12 0 12 0.00 180.00 74
A 12 0 12 0.00 180.00 74
A 37 0 12 0.00 180.00 74
P "$LOCATION" "?" -75 -4 0.00 0.00 48 0 0 0 0 0 1 0 0
P "PATH" "?" 0 -4 0.00 0.00 48 0 0 0 0 0 0 0 32
P "VALUE" "?" 50 -4 0.00 0.00 48 0 0 0 0 0 1 0 32
P "FOOTPRINT" "l0805" 0 -4 0.00 0.00 48 0 0 0 0 0 0 0 32
P "CDS_LMAN_SYM_OUTLINE" "-50,25,50,-25" 0 -4 0.00 0.00 22 0 0 0 0 0 0 0 0
