C 175 100 "6" 200 100 0 1 32 0 L
X "PIN_TEXT" "6" 115 99 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 25 "5" 200 25 0 1 32 0 L
X "PIN_TEXT" "5" 115 24 0.00 0.00 24 0 0 2 0 0 1 0 0
C 175 -50 "4" 200 -50 0 1 32 0 L
X "PIN_TEXT" "4" 115 -50 0.00 0.00 24 0 0 2 0 0 1 0 0
C -175 -50 "3" -200 -50 0 1 32 0 R
X "PIN_TEXT" "3" -115 -49 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 100 "1" -200 100 0 1 32 0 R
X "PIN_TEXT" "1" -115 100 0.00 0.00 24 0 0 0 0 0 1 0 0
C -175 25 "2" -200 25 0 1 32 0 R
X "PIN_TEXT" "2" -115 25 0.00 0.00 24 0 0 0 0 0 1 0 0
L -175 25 -125 25 -1 0
L -125 -100 -125 150 -1 0
L -125 -100 125 -100 -1 0
L -125 150 125 150 -1 0
L 125 -100 125 150 -1 0
L -100 25 50 25 -1 0
L 0 100 0 -50 -1 0
L -50 100 50 100 -1 0
L 50 75 75 100 -1 0
L 50 75 50 125 -1 0
L 75 100 100 100 -1 0
L 75 100 50 125 -1 0
L 75 -75 75 -25 -1 0
L 50 50 50 0 -1 0
L 50 50 75 25 -1 0
L 75 25 50 0 -1 0
L 75 25 100 25 -1 0
L -50 -75 -50 -25 -1 0
L -75 -75 -75 -25 -1 0
L 50 -75 50 -25 -1 0
L 50 -50 -50 -50 -1 0
L -50 75 -50 125 -1 0
L -75 75 -75 125 -1 0
L 75 75 75 125 -1 0
L 75 0 75 50 -1 0
L -50 -75 -75 -50 -1 0
L -75 -50 -50 -25 -1 0
L -100 -50 -75 -50 -1 0
L 75 -50 100 -50 -1 0
L 75 -50 50 -25 -1 0
L 50 -75 75 -50 -1 0
L -50 75 -75 100 -1 0
L -75 100 -50 125 -1 0
L -75 100 -100 100 -1 0
L 175 25 125 25 -1 0
L 175 100 125 100 -1 0
L 175 -50 125 -50 -1 0
L -175 100 -125 100 -1 0
L -175 -50 -125 -50 -1 0
T 0 125 0.00 0.00 32 0 0 1 0 5 0
esd05
P "CDS_LMAN_SYM_OUTLINE" "-125,150,125,-100" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
